@import "../../util/colors";

#register {
    overflow: hidden;
}

#register .register {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2rem;
    padding-top: 2rem;
    // margin-bottom: 1rem;
    // padding-bottom: 1rem;

    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-bottom: 2rem;
        margin-top: 3rem;
        flex: 1;

        .content {
            display: flex;
            flex-direction: column;
            text-align: center;
            // align-items: center;
            width: 100%;
            max-width: 300px;

            h1 {
                font-size: 4rem;
                font-weight: 300;
                color: $black;
                line-height: 110%;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                font-weight: 300;
                color: $black;
                line-height: 140%;
                margin-bottom: 1.4rem;
            }

            a {
                // font-size: 1rem;
                color: $main;
            }

            form {
                .input {
                    margin: 1rem 0;
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    input {
                        font-weight: 300;
                        font-size: 0.9rem;
                        background: #fff;
                        color: $black;
                        margin: 0;
                        max-width: 100%;
                        outline: 0;
                        padding: 0.7rem 1rem;
                        border: 1px solid rgba(34, 36, 38, 0.15);
                        border-radius: 4px;
                        transition: border-color 0.4s ease;
                        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);

                        &.input-error {
                            transition: none;
                            border: 1px solid #f44336;
                        }
                    }

                    input:focus {
                        border-color: $main;

                        &.input-error {
                            border-color: #f44336;
                        }
                    }

                    label {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: 300;
                        margin-bottom: 0.2rem;
                        color: rgba(0, 0, 0, 0.5);
                        font-size: 0.95rem;

                        span.label-error {
                            color: #f44336;
                        }
                    }

                    .error {
                        margin: 0;
                        font-size: 12.5px;
                        display: inline-block;
                        color: #f44336;
                        // line-height: 100%;
                    }
                }

                .check {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    span {
                        padding: 0;
                        padding-right: 4px;
                    }

                    p {
                        margin: 0;
                    }
                }

                button {
                    // margin-top: 3rem;
                    font-weight: 400;
                    text-transform: none;
                    font-size: 0.9rem;
                }
            }

            .account {
                margin: 1.5rem 0;
                font-size: 1rem;

                a {
                    color: $main;
                }
            }
        }
    }

    .bottom {
        // margin-top: 2rem;
        flex: 1;

        .img-container {
            margin-left: auto;
            margin-right: auto;
            max-width: 20rem;
        }
    }
}

@media only screen and (min-width: 576px) {
    #register .register {
        .top {
            .content {
                max-width: 350px;

                h1 {
                    font-size: 4.2rem;
                }

                p {
                    font-size: 1.1rem;
                }

                a {
                    // font-size: 1.1rem;
                }

                form {
                    .input {
                        input {
                            font-size: 1rem;
                        }

                        label {
                            font-size: 1rem;
                            margin-bottom: 0.3rem;
                        }

                        .error {
                            font-size: 13px;
                        }
                    }

                    button {
                        font-size: 0.95rem;
                    }
                }

                .account {
                    font-size: 1.1rem;
                }
            }
        }

        .bottom {
            .img-container {
                max-width: 22rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #register .register {
        .top {
            .content {
                max-width: 400px;

                h1 {
                    font-size: 4.5rem;
                }

                p {
                    font-size: 1.2rem;
                }

                a {
                    // font-size: 1.1rem;
                }

                form {
                    .input {
                        input {
                            font-size: 1.1rem;
                        }

                        label {
                            font-size: 1.1rem;
                            margin-bottom: 0.4rem;
                        }

                        .error {
                            font-size: 14px;
                        }
                    }

                    button {
                        font-size: 1rem;
                    }
                }

                .account {
                    font-size: 1.2rem;
                }
            }
        }

        .bottom {
            .img-container {
                max-width: 24rem;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    #register .register {
        flex-direction: row;

        .top {
            margin-top: 0;

            .content {
                max-width: 300px;

                h1 {
                    font-size: 3.5rem;
                    margin-bottom: 0.2rem;
                }

                p {
                    font-size: 0.9rem;
                    margin-bottom: 0.4rem;
                }

                form {
                    .input {
                        margin: 0.8rem 0;

                        input {
                            font-size: 0.85rem;
                        }

                        label {
                            font-size: 0.85rem;
                            margin-bottom: 0.2rem;
                        }

                        .error {
                            font-size: 12px;
                        }
                    }

                    button {
                        font-size: 0.8rem;
                    }
                }

                .account {
                    font-size: 0.9rem;
                    margin: 1rem 0;

                    a {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img-container {
                width: 100%;
                max-width: 24rem;
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    #register .register {
        .top {
            .content {
                max-width: 300px;

                h1 {
                    font-size: 3.8rem;
                    margin-bottom: 0.4rem;
                }

                p {
                    font-size: 0.95rem;
                    margin-bottom: 0.4rem;
                }

                form {
                    .input {
                        margin: 0.8rem 0;

                        input {
                            font-size: 0.95rem;
                        }

                        label {
                            font-size: 0.95rem;
                        }

                        .error {
                            font-size: 12.5px;
                        }
                    }

                    button {
                        font-size: 0.85rem;
                    }
                }

                .account {
                    font-size: 0.95rem;

                    a {
                        font-size: 0.95rem;
                    }
                }
            }
        }

        .bottom {
            .img-container {
                width: 100%;
                max-width: 25rem;
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #register .register {
        .top {
            .content {
                max-width: 350px;

                h1 {
                    font-size: 4rem;
                    margin-bottom: 0.4rem;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 0.4rem;
                }

                form {
                    .input {
                        margin: 0.8rem 0;

                        input {
                            font-size: 0.95rem;
                        }

                        label {
                            font-size: 0.95rem;
                        }
                    }

                    button {
                        font-size: 0.9rem;
                    }
                }

                .account {
                    font-size: 1rem;

                    a {
                        font-size: 1rem;
                    }
                }
            }
        }

        .bottom {
            .img-container {
                width: 100%;
                max-width: 27rem;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    #register .register {
        .top {
            .content {
                max-width: 350px;

                h1 {
                    font-size: 5rem;
                    margin-bottom: 0.7rem;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 0.4rem;
                }

                form {
                    .input {
                        margin: 0.8rem 0;

                        input {
                            font-size: 1rem;
                        }

                        label {
                            font-size: 1rem;
                            margin-bottom: 0.3rem;
                        }

                        .error {
                            font-size: 13px;
                        }
                    }

                    button {
                        font-size: 0.95rem;
                    }
                }

                .account {
                    font-size: 1rem;

                    a {
                        font-size: 1rem;
                    }
                }
            }
        }

        .bottom {
            .img-container {
                width: 100%;
                max-width: 29rem;
            }
        }
    }
}

@media only screen and (min-width: 1500px) {
    #register .register {
        .top {
            .content {
                max-width: 370px;

                h1 {
                    font-size: 5.5rem;
                    margin-bottom: 0.7rem;
                }

                p {
                    font-size: 1.1rem;
                    margin-bottom: 0.4rem;
                }

                form {
                    .input {
                        margin: 1rem 0;

                        input {
                            font-size: 1rem;
                        }

                        label {
                            font-size: 1rem;
                            margin-bottom: 0.3rem;
                        }
                    }

                    button {
                        font-size: 1rem;
                    }
                }

                .account {
                    font-size: 1.1rem;
                    margin: 1.4rem 0;

                    a {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .bottom {
            .img-container {
                width: 100%;
                max-width: 31rem;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    #register .register {
        margin-top: 1.5rem;
        padding-top: 1.5rem;

        .top {
            .content {
                max-width: 400px;

                h1 {
                    font-size: 6rem;
                    margin-bottom: 0.9rem;
                }

                p {
                    font-size: 1.15rem;
                    margin-bottom: 0.4rem;
                }

                form {
                    .input {
                        margin: 1.4rem 0;

                        input {
                            font-size: 1.1rem;
                            padding: 0.8rem 1rem;
                        }

                        label {
                            font-size: 1.1rem;
                            margin-bottom: 0.4rem;
                        }

                        .error {
                            font-size: 14px;
                            // margin-top: 6px;
                        }
                    }

                    button {
                        font-size: 1rem;
                    }
                }

                .account {
                    font-size: 1.1rem;
                    margin: 1.7rem 0;

                    a {
                        font-size: 1.1rem;
                    }
                }
            }
        }

        .bottom {
            .img-container {
                max-width: 34rem;
            }
        }
    }
}