@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

.container {
    // max-width: 1480px;
    max-width: 1600px;
    padding: 0 24px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif !important;
}

button {
    font-family: "Montserrat", sans-serif !important;
}

input {
    font-family: "Montserrat", sans-serif !important;
}

label {
    font-family: "Montserrat", sans-serif !important;
}

ul {
    list-style: none;
}

.img-container {
    svg {
        width: 100%;
        height: auto;
    }
}
