@import "../../util/colors";

#hero .hero {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-top: 2rem;

    .top {
        display: flex;
        flex-direction: column;
        // text-align: center;
        align-items: center;
        margin-bottom: 2rem;
        flex: 1;

        .content {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            h1 {
                font-size: 4rem;
                font-weight: 300;
                color: $black;
                line-height: 110%;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1rem;
                font-weight: 300;
                color: $black;
                line-height: 140%;
                margin-bottom: 1.4rem;
            }

            a {
                color: white;
                font-size: 1rem;
                font-weight: 300;
                padding: .7rem 2rem;
                text-transform: none;
            }
        }
    }

    .bottom {
        margin-top: 2rem;
        flex: 1;

        .img-container {
            margin-left: auto;
            margin-right: auto;
            max-width: 27rem;
        }
    }
}

@media only screen and (min-width: 576px) {
    #hero .hero {
        margin-top: 2rem;
        padding-top: 2rem;

        .top {
            .content {
                h1 {
                    font-size: 4.2rem;
                }

                p {
                    font-size: 1.1rem;
                }

                a {
                    // font-size: 1.1rem;
                }
            }
        }

        .bottom {
            .img-container {
                max-width: 28rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #hero .hero {
        margin-top: 2rem;
        padding-top: 2rem;

        .top {
            .content {
                h1 {
                    font-size: 4.5rem;
                    margin-bottom: 1.2rem;
                }

                p {
                    font-size: 1.2rem;
                    margin-bottom: 1.8rem;
                }

                a {
                    font-size: 1.1rem;
                }
            }
        }

        .bottom {
            .img-container {
                max-width: 29rem;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    #hero .hero {
        flex-direction: row;

        .top {
            margin-bottom: 0;
            justify-content: center;

            .content {
                text-align: left;
                align-items: flex-start;

                h1 {
                    font-size: 4rem;
                    margin-bottom: .5rem;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }

                a {
                    font-size: .9rem;
                    padding: .6rem 2.4rem;
                }
            }
        }

        .bottom {
            margin-top: 0;

            .img-container {
                max-width: 26rem;
            }
        }
    }
}

@media only screen and (min-width: 1100px) {
    #hero .hero {
        .top {
            .content {
                h1 {
                    font-size: 4.2rem;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    #hero .hero {
        .top {
            .content {
                h1 {
                    font-size: 4.4rem;
                }

                p {
                    font-size: 1.1rem;
                }

                a {
                    font-size: 1rem;
                }
            }
        }

        .bottom {
            .img-container {
                max-width: 27rem;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    #hero .hero {
        margin-top: 3rem;
        padding-top: 3rem;

        .top {
            .content {
                h1 {
                    font-size: 5rem;
                    margin-bottom: .5rem;
                }

                p {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }

                a {
                    font-size: 1.1rem;
                    padding: .6rem 2.4rem;
                }
            }
        }

        .bottom {
            .img-container {
                max-width: 30rem;
            }
        }
    }
}

@media only screen and (min-width: 1500px) {
    #hero .hero {
        margin-top: 3.5rem;
        padding-top: 3.5rem;

        .top {
            .content {
                h1 {
                    font-size: 5.5rem;
                    margin-bottom: .5rem;
                }

                p {
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                }

                a {
                    font-size: 1.1rem;
                    padding: .6rem 2.4rem;
                }
            }
        }

        .bottom {
            .img-container {
                max-width: 32rem;
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    #hero .hero {
        margin-top: 4rem;
        padding-top: 4rem;

        .top {
            .content {
                h1 {
                    font-size: 6.4rem;
                    margin-bottom: .5rem;
                }

                p {
                    font-size: 1.3rem;
                    margin-bottom: 1.4rem;
                }

                a {
                    font-size: 1.2rem;
                    padding: .6rem 2.4rem;
                }
            }
        }

        .bottom {
            .img-container {
                max-width: 38rem;
            }
        }
    }
}